@page
@model EntApp1.Pages.Page1Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Hello from a cshtml  page</h1>
    <h2>@Model.Message</h2>

    <form method="post">

        <label asp-for=Number1>Number 1</label>
        <input asp-for=Number1 />

        <label asp-for=Number2></label>
        <input asp-for=Number2 />

        <button type="submit">Press Me to see what happens</button>
    </form>

</body>
</html>
